<div class="container-fluid news-feed">
  <div class="row">
    <div class="col-sm-6 news-box" *ngFor="let feed of newsFeed">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ feed.url }}" target="_blank">
              {{ feed.title}}</a>
          </h5>
          <span class="author">Author : {{ feed.author}}</span>
          <span class="created-time">Created at : {{ feed.created_at}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
