<div class="container search-container">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search News" aria-label="Search News" aria-describedby="basic-addon2"
      [(ngModel)]="filter">
    <div class="input-group-append">
      <i class="fa fa-search search-icon"></i>
    </div>
  </div>
</div>

<div class="container-fluid news-feed">
  <div class="row">
    <div class="col-sm-6 news-box" *ngFor="let feed of newsFeed | filter:filter | paginate: { itemsPerPage: 10, currentPage:p };">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ feed.url }}" target="_blank">
              {{ feed.title}}</a>
          </h5>
          <span class="author">Author : {{ feed.author}}</span>
          <span class="created-time">Created at : {{ feed.created_at}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container search-container">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
