.search-container{
  padding: 50px;
}

.search-icon{
  font-size: 25px;
  padding-left: -20px;
  margin-left: -33px;
  z-index: 100;
  margin-top: 5px;
}

.author{
  width: 50%;
  float: left;
  color: #828181;
}

.created-time{
  float: right;
  color: #828181;
}

.news-box{
  padding-bottom: 10px;
}
